.text {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center; 
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: none;
}

#rockBtn {
    background: #fff;
    border-color: #fff;
    border-style: solid;
    cursor: pointer;
}
  
#rockBtn:hover {
    border: 2px solid darkgray;
    border-radius: 10px;
}

  #paperBtn {
    background: #fff;
    border-color: #fff;
    border-style: solid;
    cursor: pointer;
}
  
#paperBtn:hover {
    border: 2px solid darkgray;
    border-radius: 10px;
}
  

#scissorsBtn {
  background: #fff;
	border-color: #fff;
	border-style: solid;
  cursor: pointer;
}

#scissorsBtn:hover {
  border: 2px solid darkgray;
  border-radius: 10px;
}

